body{
  margin:0;
  padding:0;
  background: white;
  font-family: arial,sans-serif;
  
}
a{
  text-decoration: none;
  color: #70757a;
}

a:hover{
  text-decoration: underline;
}
a:visited{
  color: #70757a;
}

h1{margin: 0;}
h2{margin: 0;}
h3{margin: 0;}
h4{margin: 0;}
p{
  margin: 0;
}

nav{
  
}

content{
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.searchBar{
  display: inline;;
  justify-content:center;
  margin: 0;
  
}


.btn{ 
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 35px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.btn:hover{
  border: 1px solid lightgray;
  border-radius: 4px;
}

#search{
  height: 40px;
  border-radius: 15px; 
  border: 1px solid lightgray;
  font-size: 15px;
  
}
#search:hover{
  box-shadow: 2px 2px lightgray;
}
.form{
  margin: 0;
  display: flex;;
  justify-content:center;
}
.newbtn{
  display: flex;
  justify-content: center;
}

.nav-menu{
  margin: 25px;
  padding: 0;
  
}
li{
  display: inline;
  margin: 0;
  margin-right: 15px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid lightgray;
  
}

.footer-menu1{
  
  float:left;
}

.footer-menu2{
 margin-right : 25px;
 float: right;
}